#react-chrome-app {

}



.App {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 1em 2em; */
    font-size: 16px;
    /* width: 300px; */
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999999;
    background-color: #fbfbfb;
    color: black;
    border-left: 1px solid #f7f7f7;
    box-shadow: 0 0 25px #21212156;
    transition: all 200ms;
    
}

.App-big {
        width: 300px;
            transition: width 200ms;
                padding: 1em 2em;


}
.App-small {
        width: 0px;

        visibility: hidden;
            transition: width 200ms;

}

.collapse-btn {
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: #2557a7;
    border-radius: 10px;
}
.collapse-btn:hover {
      background-color: #164081;

}


.filter-btns {
    display: flex;

    flex-direction: column;
    gap: 1em;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex-btns button {
    width: 50%;
}




:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #164081;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.filter-btns button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #2557a7;
  cursor: pointer;
  transition: background-color 0.05s;
}
.filter-btns button:hover {
  background-color: #164081;
}
.filter-btns button:focus,
.filter-btns button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* 


.sidebar-container {
  position: relative;
}

.sidebar {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  padding: 1rem;
  background: #fff;
  transition: left 0.3s ease-in-out;
}

.open {
  left: 0;
}

.closed {
  left: -300px;
} */


.blacklist-box {
    height: 100px;
    width: 100%;
    overflow-y: scroll;
}